
.Blokjes Button{
    display: flex;
    width: 25%;
}

button{
    background-color: black;
    border-radius: 20px;
    border-color: black;

}

.Blokjes{
    display: flex;
    justify-content: space-evenly;
    padding: 93px;
    flex-direction: row;
}
