* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.pop-up {
    /* position: relative; */
    /* border: solid 1px black; */
    border-radius: 25px;
    width: 900px; /*dit moet niet met percentages maar liggen aan de elementen er in */
    margin: auto;
    padding: 20px 30px ;
    background-color: white;
}

.button-holder {
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    margin: 20px 0px;
    padding: 0px 30px;
}

.divider{
    height: 300px;
    background-color: #B3B3B3;
    border: 1px solid #B3B3B3;
}

.input-holder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    column-gap: 20px;
    /* margin: 25px; */
    /* font-size: 1rem; */
}

#geboorteDatum, #postcode {
/* width: 50%; */
}

.side-by-side {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0px 20px 0px;
}

.input-bundel {
    /* flex-grow: 1; */
    width: 47%;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.inlog-bundel{

}

.input-veld {
    border-radius: 25px;
    border: #B3B3B3 2px solid;
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #F6F6F6;
    font-weight: bold;
    /* color: #B3B3B3; */
    /* opacity: .8; */
}
.input-veld:focus{
    border:  2px solid #2B50EC;
}

.beschrijving {
    min-height: 200px;
    padding: 10px 20px;
    opacity: .8;
    margin-top: 5px;
    resize: none;
}

.inlog-button {
    border: 0;
    border-radius: 25px;
    padding: 10px 50px;
    /* width: 100%; */
    font-size: 1rem;
    background-color: #2B50EC;
    color: white;
    cursor: pointer;
}

.google-button {
    position: relative;
    background-color: #B00000;
    border: #B00000;
    color: white;
}

.google-button img{
    position: absolute;
    margin-left: -100px;
    height: 20px;
}

.microsoft-button{
    position: relative;
    background-color: white;
    border: 1px solid black;
    color: black;
}
.microsoft-button img{
    position: absolute;
    margin-left: -98px;
    margin-top: -6px;
    height: 30px;
}

.pop-up a {
    text-decoration: none;
}
/* .pop-up a:visited {color: none;} */

.exit-button {
    display: flex;
    margin: 10px 0px auto auto;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* font-size: .8rem; */
    align-items: center;
    justify-content: center;
    color: black;
    border: 2px solid #111329;
    font-size: 30px;
    cursor: pointer;
}

.locked-input {
    pointer-events: none;
    user-select: none;
    background-color: darkgray;
}

.locked-label {
    pointer-events: none;
}

.ww-vergeten {
    color: black;
    text-decoration: none;
}

.ww-vergeten:visited {
    color: black;
}

.full-size {
    width: 100%;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.left {
    /* border: 1px solid red; */
    width: 45%;
    /* flex-grow: 1; */
    align-items: center;
    /* height: inherit; */
    justify-content: center;
    gap: 15px;

}

.right{
    /* border: 1px solid red; */
    width: 45%;
    /* flex-grow: 1; */
    align-items: center;
    /* height: inherit; */
    justify-content: center;
    gap: 15px;

}

.inlog-label{ 
    font-size: 20px;
}

.inlog-label::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: #2B50EC;
}

.error {
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.hidden {
    display: none;
}

.registreer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.confirm-button {
    border-radius: 25px;
    width: 40%;
    font-size: 24px;
    border: 0;
    /* text-transform: uppercase; */
    font-weight: 600;
    background-color: #2B50EC;
    color: white;
    padding: 10px 0px;
    bottom: 0;
    cursor: pointer;
}

.confirm-button-keuze {
    border-radius: 25px;
    /* width: 40%; */
    font-size: 24px;
    border: 0;
    /* text-transform: uppercase; */
    font-weight: 600;
    background-color: #2B50EC;
    color: white;
    margin-top: 30px;
    padding: 10px 20px;
    bottom: 0;
    cursor: pointer;
}

.progress-bar{
    align-items: center;
    gap: 10px;
}

.progress-bar > div {
    gap: 20px;
}

.selecter-wrapper {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

}

.selecter-wrapper > div {
    width: 28%;
    text-align: center;
}

.selecter-lijst {
    background-color: #F6F6F6;
    margin-top: 15px;
    text-align: left;
    padding: 20px 20px 10px 20px;
    /* width: 100%; */
}

.selecter-lijst > div {
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}

.selecter-lijst > div > div {
    margin-bottom: 5px;
}

.selecter-lijst h3 {
    position: sticky;
    background-color: #2B50EC;
    color: white;
    margin: -20px -20px 20px -20px;
    padding: 10px 0px;
    text-align: center;
}

.selecter-lijst input {
    margin-right: 10px;
}

.keuze-wrapper {
    padding: 40px 0px;
}
.keuze-wrapper > h2 {
    margin-bottom: 30px;
}

.inside-keuze-wrapper {
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.keuze-holder {
    display: flex;
    gap: 15px;
    border: 2px solid #111329;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: #F6F6F6;
    color: gray;
}
.keuze-holder input:checked + label
/* ,.keuze-holder input:hover + label */
{
    color: #111329;
    /* background-color: #111329; */
}

.keuze-holder > label {
    font-weight: 600;
}


@media screen and (max-width: 600px){

    .pop-up{
        /* height: 100%; */
        width: 100%;
    }

    .button-holder{
        flex-direction: column;
        /* flex-flow: column-reverse; */
        height: 100%;
        margin: 30px 0px  ;
        padding: 0;
        gap: 2rem;
        justify-content: center;
    }

    .divider {
        /* display: none; */
        height: 1px;
    }

    .button-holder > * {
        width: 100%;
    }

    .input-bundel {
        font-weight: 200;
        font-size: 16px;
    }

    .input-veld {
        padding: 10px 10px;
    }

    .registreer-wrapper{
        height: inherit;
    }

    .confirm-button {
        font-size: 18px;
        font-weight: 400;
    }
}