.bedrijvenportaal {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.bedrijvenItem {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    /* height: fit-content; */
    background-color: #c9c9c970;
    border-radius: 15px;
    /* margin: 50px; */
    overflow: hidden;
    padding: 20px;
}

.bedrijvenItem a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.bedrijvenItemHeader {
    width: inherit;
    background-color: #2B50EC;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    margin-top: -20px;
}

.bedrijvenOpdracht li {
    margin-top: 20px;
    padding: 10px;
    list-style-type: none;
}

.bedrijvenOpdracht p {
    padding: 10px;
}

.bedrijvenInbox {
    text-align: center;
    padding: 20px;
    background-color: #131B56;
    border-radius: 12px;
    margin-top: 20px;
}

.bedrijvenInbox p {
    color: #ffffff;
    font-weight: 200;
}

.bedrijfPortaalBericht {
    margin: 10px;
    width: 300px;
    display: list-item;
}

.bedrijfPortaalBerichtOnderwerp {
    background-color: #2B50EC;
    color: #ffffff;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 5px;
}