.button-container{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
  margin-top: 5vh;
  }
  
  button{
    font-family: 'Poppins', sans-serif;
    padding: 13px 60px;
    background: none;
    text-decoration: none;
    border: 1px solid #FFF;
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight:800;
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #FFF; /* Change the background color on hover */
    color: #333; /* Change the text color on hover */
  }