.bedrijvenportaal {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.listOpdracht {
    padding: 20px;
    width: 200px;
    height: 280px;
    background-color: grey;
    border-radius: 5%;
    margin: 20px;

    list-style-type: none;
    
    flex-direction: center;
    justify-content: end;
}

.listOpdracht li {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    
    background-color: rgb(84, 84, 84);
    margin-top: 24px;
    position: relative;
    line-height: 20px;
    border-radius: 8%;
    padding: 5px;
}
