

.Blokjes Button{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    background-color: #2B50EC;
    width: 300px;
    
}

.Blokjes{
    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    width: 80%;
    height: 400px;
    /* padding: 93px; */
    flex-direction: row;
}

.TitelBeheerLijst{
    /* display: flex; 
    align-items: center;
    justify-content: space-evenly; */
    padding: 10px;
    background-color: #2B50EC  ;
    border-radius: 20px;
    color: white;

}

.BeheerLijst{
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

.TitelBeheerLijst tr, .TitelBeheerLijst th {
    border-bottom: 1px solid #2B50EC;

}
.BeheerItem{
    display: flex;
    
    text-align: center;
    justify-content: space-evenly;
    padding: 1px;
    background-color: #2B50EC;    
}
.BeheerInhoud{
    text-align: center;
    padding: 10px;
    background-color: white;
    color: black;
    border-left:1px solid #2B50EC;
    border-right:1px solid #2B50EC;
    border-bottom:1px solid #2B50EC;
}
.BeheerItems{
    display: inline;
    padding-right: 5%;
    text-align: center;
}