/* src/Tutorial.css */
.Clickstream{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;    
}

.HomePortaal-Button{
    background-color: #2B50EC;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 80% */
    border: none;
    text-decoration: none;
    width: 400px;
    height: 100px;
    margin: 5%;
    padding: 2%;
    border-radius: 16px;
    justify-content: center;
    vertical-align: middle;
}

.HomePortaal-Button-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
        
}

/* ClickstreamInfo.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.tutorial-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.step h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.step p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 20px;
}

.step ol {
    list-style-type: decimal;
    margin-left: 20px;
    margin-bottom: 20px;
}

.step ol li {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

button {
    background-color: #2B50EC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}
/* ClickstreamInfo.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.tutorial-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.step h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.step p {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 20px;
}

.step ol {
    list-style-type: decimal;
    margin-left: 20px;
    margin-bottom: 20px;
}

.step ol li {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

button {
    background-color: #2B50EC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #1c3764; /* Darker shade of the selected color */
}

