.test {
    border: 1px solid black;
}

.geen-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #131B56;
}
.code {
    font-size: 48px;
    padding: 80px 0px;
    font-weight: 600;
    text-shadow: 2px 2px #2B50EC;
}

.geen-wrapper p {
    font-size: 24px;
    padding: 20px;
}

.geen-wrapper a {
    text-decoration: none;
    color: #2B50EC;
}