.OpdrachtenPagina {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listOpdrachten {
    padding: 20px;
    width: 180vh;
    margin: 50px;
    height: fit-content;
    list-style-type: none;
}

.listOpdrachten a a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;

}

.opdracht {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    line-height: 40px;
    margin-top: 24px;
}

.opdracht .opdrachtHeader {
    background-color: #2B50EC;
    border-radius: 12px;
    color:rgb(255, 255, 255);
    padding: 15px;
}
.opdracht .opdrachtHeader h3 {
    font-size: xx-large;
    font-weight: 100;
}

.opdracht .opdrachtHeader p {
    font-size: larger;
    font-weight: 100;
}

.opdracht .opdrachtBescrijving {
    padding: 15px;
}

.opdracht a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}