.opdrachtenPagina {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opdrachten-wrapper {
    display: flex;
    flex-direction: column;
    margin: 50px 240px;
}

.listOpdrachten {
    list-style-type: none;
}

.opdrachten-wrapper a, 
.opdrachten-wrapper a:visited, 
.opdrachten-wrapper a:hover, 
.opdrachten-wrapper a:active {
    text-decoration: none;
    color: inherit;

}

.opdracht-wrapper{
    background-color: #ffffff85;
    margin: 50px 240px;
    border-radius: 15px;

}
.opdracht-details{
    width: inherit;
    padding: 25px;
    border-radius: 15px;
    font-weight: 400;
}
.opdracht-aanmelden, .opdracht-gedaan{
    padding: 13px 60px; /* Adjusted padding for better responsiveness */
    background-color: #2B50EC;
    border: 1px #000000;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem; /* Use rem for font size for better responsiveness */
    font-weight: 800;
    color: #ffffff;
    width: 40%;
    text-align: center;
    margin: 30px;
}
