/* App.css */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .App {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  
  }
  .navbar {
    display: flex;
    justify-content: center;
    
  }
  
  .navbar li {
    
  }
  
  .navbar li:hover{
   /* Change the text color on hover */
  }
  h1 {
    color: #FFF;
    width: 40%; /* Set to 100% to take the full width of the container */
    height: 100px; /* Set a fixed height */
    font-family: 'Poppins', sans-serif;
    font-size: 50px; /* Adjust font size as needed */
    font-style: normal;
    font-weight: 300;
    line-height: 50px; /* Set line-height equal to the height for vertical centering */
    
  }
  
  h4{
    color: #FFF;
    width: 40%;
    height: 81px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.5px; /* 121.875% */
    font-family: 'Poppins', sans-serif;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .App{
      
    }
    .navbar {
      flex-direction:column;
      
      align-items: center;
    }
    /* h1{
      font-size: 30px;
    } */
  
    .navbar li {
      margin: 5px 0;
      width: 100%;
      
      
    }
  
    h1, h4 {
      width: 100%;
    }
  }
  
  
  