
.App {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  gap: 30%;
 
}

.voorpagina-navbar-knop {
  /* margin: 30%; */
  margin-bottom: 0;
  margin-top: 10%;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 133.333% */
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.voorPagina-titel {
  color: #FFF;
  width: 90%; /* Adjusted width for better responsiveness */
  max-width: 600px; /* Added max-width to prevent text from becoming too wide on larger screens */
  font-size: 3rem; /* Use rem for font size for better responsiveness */
  font-weight: 300;
  line-height: 1.2; /* Adjusted line-height for better readability */
  text-align: center;
  /* height: 150px; */
}

.flex-direction-column{
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.voorpagina-tekst-onder-titel {
  color: #FFF;
  width: 80%; /* Adjusted width for better responsiveness */
  /* height: 150px; */
  max-width: 900px; /* Added max-width for better responsiveness on larger screens */
  text-align: center;
  font-size: 1.2rem; /* Use rem for font size for better responsiveness */
  font-weight: 300;
  line-height: 1.5; /* Adjusted line-height for better readability */
}

.button-container {
  padding-top: 2%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.Voorpagina-Button {
  padding: 13px 60px; /* Adjusted padding for better responsiveness */
  background: none;
  text-decoration: none;
  border: 1px solid #FFF;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem; /* Use rem for font size for better responsiveness */
  font-weight: 800;
  color: #FFF;
  width: 40%;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.Voorpagina-Button:hover {
  background-color: #2B50EC;
  color: #ffffff;
  border-color: transparent; /* Change border-color to transparent on hover */
}

.voorpagina-navbar-knop:hover{
  color: #2B50EC;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .navbar{
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  } 

  .voorpagina-navbar-knop {

    margin: 5px; /* Adjusted margin for better spacing on small screens */
    font-size:x-large;
  
  }

  .voorPagina-titel{
    width: 80%; /* Full width on small screens */
    max-width: none;
    font-size: 24px;
    border: 3px solid gray;
    border-radius: 15px;
  }

  .voorpagina-tekst-onder-titel {
    width: 80%; /* Full width on small screens */
    /* max-width: none; Remove max-width on small screens */
    font-size: 16px;
    margin-bottom: 30px;
    border: 3px solid gray;
    border-radius: 25px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .Voorpagina-Button {
    width: 100%;
    padding: 10px 20px; /* Adjusted padding for better responsiveness on small screens */
  
    text-align: center;
  }

  .overlay{
    width: 100%;
    /* height: 100%; */
  }
}
